<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label><i class="fa fa-home"></i> Type a location: </label>
                <input type="text"
                       class="form-control"
                       ng-model="wc.selectedAddress"
                       data-animation="am-flip-x"
                       bs-options="address.formatted_address as address.formatted_address for address in wc.getAddress($viewValue)"
                       placeholder="Enter address"
                       debounce="1500"
                       bs-typeahead>

            </div>
            <div class="btn-group"
                 ng-model="wc.weatherService.isFahrenheit"
                 bs-radio-group>
                <label class="btn btn-default"
                       ng-click="wc.updateDashboard(true)">
                    <input type="radio" class="btn btn-default" value="true">° F</label>
                <label class="btn btn-default"
                       ng-click="wc.updateDashboard(false)">
                    <input type="radio" class="btn btn-default" value="false">° C</label>
            </div>
            &nbsp;
            <div class="btn-group" role="group">
                <button type="button" ng-click="wc.updateLocation('Lima, Peru')" class="btn btn-default">Lima, Peru</button>
                <button type="button" ng-click="wc.updateLocation('Mendoza Province, Argentina')" class="btn btn-default">Mendoza, Argentina</button>
                <button type="button" ng-click="wc.updateLocation('Miami, FL, USA')" class="btn btn-default">Miami, FL, USA</button>
                <button type="button" ng-click="wc.updateLocation('New York, NY, USA')" class="btn btn-default">New York, NY, USA</button>
                <button type="button" ng-click="wc.updateLocation('London, UK')" class="btn btn-default">London, UK</button>
            </div>

            <div class="form-group" ng-show="wc.showSpinner">
                <span us-spinner></span>
            </div>
            <div class="form-group pull-right">
                <label for="api">Api Server</label>
                <select id="api"
                        name="api"
                        class="form-control"
                        ng-change="wc.updateDashboard()"
                        ng-model="wc.weatherService.serviceType"
                        ng-options="item.id as item.name for item in wc.serviceList">
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Right Now</h3>
                </div>
                <div ng-if="wc.weather.currently"
                     class="panel-body text-center">
                    <div>
                        <h1>{{wc.weather.currently.temperature}}
                            <span ng-switch="wc.weatherService.isFahrenheit">
                                <span ng-switch-when="true">°F</span>
                                <span ng-switch-when="false">°C</span>
                            </span>
                        </h1>
                    </div>
                    <div>
                        <weather-icon data-image="wc.weather.currently.icon"
                                      data-id-name="main"
                                      data-size="100">
                        </weather-icon>
                    </div>
                    <div><b>{{wc.weather.currently.summary}}</b></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location Map</h3>
                </div>
                <div class="panel-body text-center map-wrap">
                    <div g-map
                         data-lat="wc.weatherService.lat"
                         data-lng="wc.weatherService.lng"
                         id="map"
                         class="map">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Week Forecast</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Day</th>
                        <th></th>
                        <th>Temperature</th>
                        <th>Summary</th>
                    </tr>
                    <tr ng-repeat="day in wc.weather.daily">
                        <td>{{day.time | date:'EEEE, MMMM d'}}</td>
                        <td>
                            <weather-icon data-image="day.icon"
                                          data-id-name="{{$index}}"
                                          data-size="30">

                            </weather-icon>
                        </td>
                        <td>{{day.temperatureMin}}° - {{day.temperatureMax}}°</td>
                        <td>{{day.summary}}</td>
                    </tr>
                </table>
            </div>
        </div>
</div>

</div>
